{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/artsupply-detail.css' %}"
/>

<script defer src="{% static 'js/artsupply-detail.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="artsupply-container">
  <div class="artsupply-details">
    <h1>{{ artsupply.name }}</h1>
      <p><small>Submitted by {{ artsupply.user }}</small></p>
      <h2>The {{ artsupply.get_medium_display }}</h2>
      <h2>from {{ artsupply.brand }}</h2>
      <h3>Familiarity with this product: {{ artsupply.familiarity }}
          <p>From 0 (first time use) to 5 (regular professional use)</p>
      </h3>
        <h3>Would you recommend this?  {{artsupply.favorite|yesno:" Yes, No, Maybe"}}</h3>
        <h3>Artist Review: <br> <p>{{ artsupply.description }}</p></h3>
    {% if user == artsupply.user %}
      <div class="artsupply-actions">
      <a href="{% url 'artsupplies_update' artsupply.id %}" class="btn">Edit</a>
      <a href="{% url 'artsupplies_delete' artsupply.id %}" class="btn danger">Delete</a>
        </div>
    {% endif %}
    </section>
    <section class="detail-imgs">
    {% if user == artsupply.user %}
    <div class="add-photo">
        <h1>Add some swatches for the {{artsupply.brand}} {{ artsupply.name }} <br><br> (one at a time please)</h1>
      <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' artsupply.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button class="btn" type="submit">Upload Photo</button>
    </form>
    </div>
    {% endif %}
  </div>
  <div class="artsupply-img">
    {% if artsupply.photo_set.all.count %}
      {% for photo in artsupply.photo_set.all %}
        <img 
          src="{{photo.url}}"
          alt="a photo of art supply"
          class="usr-img"
        >
      {% endfor %}
      {% else %}
        <img src="{% static 'images/logo.png' %}" 
        alt="swatchdog logo"
        class="usr-img">
    {% endif %}
  </div>
  </section>

{% endblock %}