{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/artsupply-detail.css' %}"
/>

<script defer src="{% static 'js/artsupply-detail.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="artsupply-container">
  <div class="artsupply-details">
    <h1>{{ artsupply.name }}</h1>
      <h2>Art Supply: {{ artsupply.medium }}</h2>
      <h2>Brand: {{ artsupply.brand }}</h2>
      <h3>Familiarity with this product: {{ artsupply.familiarity }}
          <p>From 0 (first time use) to 5 (regular professional use)</p>
      </h3>
        <h3>Would you recommend this? {{ artsupply.favorite }}</h3>
        <p>{{ artsupply.description }}</p>
    {% if user == artsupply.user %}
      <div class="artsupply-actions">
      <a href="{% url 'artsupplies_update' artsupply.id %}" class="btn">Edit</a>
      <a href="{% url 'artsupplies_delete' artsupply.id %}" class="btn danger">Delete</a>
        </div>
    {% endif %}
        <h3>Add some swatches for the {{artsupply.brand}} {{ artsupply.name }}</h3>
      <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' artsupply.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn">
        Choose photo
        <input type="file" name="photo-file" id="file-input" multiple>
      </label>
      <button class="btn" type="submit">Upload Photo</button>
    </form>
  </div>
  <div class="artsupply-img">
    {% if artsupply.photo.url %}
      <img 
        src="{{artsupply.photo.url}}"
        alt="user upload"
        class="usr-img"
      >
    {% else %}
      <img src="" 
      alt="swatchdog logo"
      class="usr-img">
    {% endif %}
  </div>
  </section>

{% endblock %}