{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artsupply-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Art Supplies</h1>
</section>

<section class="card-container">
  {% for artsupply in artsupplies %}
    <div class="card">
      <a href="{% url 'artsupplies_detail' artsupply.id %}">
          <div class="card-img-container">
          {% if artsupply.photo_set.all.count %}
          {% for photo in artsupply.photo_set.all %}
            <img src="{{photo.url}}" 
            alt="a swatch photo of {{artsupply.name}}"
            class="usr-img">
          {% endfor %}
          {% else %}
            <img 
              src="{% static 'images/logo-gray.png' %}" 
              alt="SwatchDog logo"
            >
          {% endif %}
          </div>
          <div class="card-content">
            <h2 class="card-title">{{ artsupply.name }}</br>
            <span>A {{ artsupply.get_medium_display }} from {{ artsupply.brand }}</span></h2>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}