{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

<section class="about">
<h1>Welcome to SwatchDog! We'll keep an eye on things.</h1>
<hr />
<p>
  SwatchDog is a site designed to help beginners, hobbyists, and professional artists alike keep track of the supplies and media they've used so they have an easy place to reference what they love and what they don't. 
  <br>
  <br>
  It's also a great way to discover new supplies used by other artists and get an idea of how they work before using them yourself. You might be saved from trying out that super expensive pen that isn't really worth it, or you may find your new holy grail watercolor travel set. 
</p>
</section>

{% endblock %}