.about {
  text-align: center;
}

h1 {
  font-size: 28px;
  margin: 25px;
}

p {
  font-size: 18px;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.8);
}