.artsupply-container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.artsupply-img {
  width: 100%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
  margin: 20px;
}

.artsupply-details {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 5px;
  padding: 10px;
}

.artsupply-actions {
  margin-top: 20px;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.artsupply-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.artsupply-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.artsupply-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.artsupply-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}


.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}


.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .artsupply-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: left;
    margin-left: 35px;
  }

  .artsupply-img {
    width: 100%;
    max-width: 400px;
    margin-right: 35px;
  }

  .btn {
    margin: 5px;
  }

}

@media only screen and (min-width: 1024px) {

}