.artsupply-container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.artsupply-img {
  width: 100%;
  max-width: 350px;
  justify-self: center;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
  margin: 20px;
}

.artsupply-details {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 5px;
  padding: 25px;
}

.artsupply-actions {
  margin-top: 20px;
}

.artsupply-details h1 {
  font-size: var(--font-xxl);
  margin: 5px 0 3px;
}

.artsupply-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.artsupply-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.artsupply-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.add-photo {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 5px;
  border-radius: 5px;
}

.add-photo h1 {
  font-size: 18px;
  padding: 5px;
}

.detail-imgs {
  text-align: center;
  margin: auto;
  width: 92%;
}

.detail-imgs p {
  font-size: 18px;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .artsupply-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
  }

.artsupply-details {
  width: 70%;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 5px;
  padding: 40px;
}

  .artsupply-img {
    width: 50%;
    max-width: 400px;
    margin-right: 35px;
  }

  .detail-imgs {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .detail-imgs p {
    font-size: 20px;
  }

  .add-photo {
    width: 50%;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 5px;
    padding: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .add-photo h1 {
    margin: auto;
    font-size: 20px;
  }

  .btn {
    margin: 5px;
  }

}