.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container .card {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 4rem;
}

.card-container .card:hover .card-img-container {
  transform: translate(-4rem, -4rem);
}

.card-container .card:hover .card-content {
  transform: translate(4rem, 4rem);
}

.card-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.card-img-container img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  resize: both;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 46, 27, 0.7);
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.card-content h2 {
  display: block;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.card-content span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.card {
  width: 275px;
  margin: 10px;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

@media (max-width: 600px) {
  .card-container .card:hover .card-content {
    transform: translate(0, 4rem);
  }
  .card-container .card:hover .card-img-container {
    transform: translate(0, -4rem);
  }


}