.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* background-color: rgba(245, 245, 245, 0.7); */
  margin: 30px;
  border-radius: 5px;
}

table {
  padding: 0 40px;
  width: 80%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 20px;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
  width: 40%;
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

#id_favorite {
  height: 25px;
}

.btn {
  max-width: 30%;
  margin-left: 35%;
}

@media only screen and (min-width: 768px) {
  .btn {
    max-width: 20%;
    margin-left: 45%;
  }
}