.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7);
}

.signup-form {
  text-align: center;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
  margin: 20px;
}

table {
  padding: 0 5px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
  width: 40%;
}

td {
  max-width: 100%;
}

td > * {
  width: 80%;
  padding: 2px 4px;
  font-size: var(--font-l);
  font-family: "Merriweather", serif;
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

#id_favorite {
  height: 25px;
}

.btn {
  max-width: 30%;
  margin-left: 35%;
}

.page-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .form-daddy {
    display: flex;
    justify-content: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    background-color: rgba(245, 245, 245, 0.7);
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -1px #AAA;
  }

  .btn {
    max-width: 20%;
    margin-left: 48%;
  }
}

